<nav class="navbar navbar-default navbar-static-top navbar-inverse">
  <div class="container">
    <ul class="nav navbar-nav">
      <li class="active">
        <a href="/"><span class="glyphicon glyphicon-home"></span> Home</a>
      </li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li class="navbar-right">
        <a href="https://github.com/murrayb2016/umbrage-bradley" target="_blank"><span class="glyphicon glyphicon-book"></span>Source on Github</a>
      </li> 
      <li class="navbar-right">
        <a href="https://bradley-murray.postman.co/workspace/My-Workspace~1a2b156c-fb60-4160-87d9-46c8b1c079f3/overview" target="_blank"><span class="glyphicon glyphicon-transfer"></span>Postman Requests</a>
      </li> 
      <li class="navbar-right">
        <a href="https://dashboard.heroku.com/apps/umbrage-bradley" target="_blank"><span class="glyphicon glyphicon-user"></span>Heroku App</a>
      </li>
    </ul>
  </div>
</nav>
